@{
    ViewData["Title"] = "Humanitarian Events";
}

<h1 class="my-4 text-center">@ViewData["Title"]</h1>
<p style="text-align: center;">
    The HEAL Kitchen powered by Manav Seva Foundation. We are extremely grateful to the Manav Seva Foundation for partnering with us and allowing us to be part of their newly launched building known as the “HumanGiG”. The HEAL Kitchen will be operational 5 days a week from Monday to Friday and will be serving 400 fresh meals daily throughout the community.
</p>


<!-- Footer with Event Images and Descriptions -->
<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section light-green-bg">
                    <h2>Humanitarian Event 1</h2>
                    <p style="text-align: center;">
                        Description of Humanitarian Event 1. This event provided essential supplies and support to families affected by natural disasters.
                    </p>
                    <div style="text-align: center;">
                        <img src="~/images/humanitarian1.png" alt="Humanitarian Event 1" class="img-fluid mb-4 small-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section light-green-bg">
                    <h2>Humanitarian Event 2</h2>
                    <p style="text-align: center;">
                        Description of Humanitarian Event 2. This event focused on providing medical aid and health education to underserved communities.
                    </p>
                    <div style="text-align: center;">
                        <img src="~/images/humanitarian2.png" alt="Humanitarian Event 2" class="img-fluid mb-4 small-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section light-green-bg">
                    <h2>Humanitarian Event 3</h2>
                    <p style="text-align: center;">
                        Description of Humanitarian Event 3. Volunteers distributed food and clothing to homeless individuals in urban areas.
                    </p>
                    <div style="text-align: center;">
                        <img src="~/images/humanitarian3.jpg" alt="Humanitarian Event 3" class="img-fluid mb-4 small-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section light-green-bg">
                    <h2>Humanitarian Event 4</h2>
                    <p style="text-align: center;">
                        Description of Humanitarian Event 4. This event aimed at providing educational resources and support to children in low-income areas.
                    </p>
                    <div style="text-align: center;">
                        <img src="~/images/humanitarian4.jpg" alt="Humanitarian Event 4" class="img-fluid mb-4 small-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<p class="text-center">Where the Heal Team has made a difference,Join us  for our impact to be larger</p>

<div class="text-center">
    <img src="~/images/Locations.png" alt="Contact Us" class="img-fluid mb-4 small-img" />
</div>

<footer class="vision-section" style="background-color: #A9CBA6; padding: 30px 0;">
    <!-- Lighter green color -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/Volunteers/Create" class="custom-green-link btn-lg">Join Us as a Volunteer</a>
            </div>
        </div>
    </div>
</footer>

